<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="moe.shizuku.fcmformojo">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- install to /system/priv-app to grant the permission -->
    <uses-permission android:name="android.permission.SUBSTITUTE_NOTIFICATION_APP_NAME" />

    <application
        android:name=".FFMApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/product_logo_fcmformojo_launcher_color_48"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/product_logo_fcmformojo_round_launcher_color_48"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".service.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.FirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.FFMBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.action.REPLY" />
                <action android:name="${applicationId}.action.CONTENT" />
                <action android:name="${applicationId}.action.DELETE" />
                <action android:name="${applicationId}.action.OPEN_SCAN" />
                <action android:name="${applicationId}.action.DISMISS_SYSTEM_NOTIFICATION" />
                <action android:name="${applicationId}.action.COPY_TO_CLIPBOARD" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.FFMIntentService"
            android:exported="false" />

        <activity
            android:name=".RegistrationIdsActivity"
            android:label="@string/manage_devices" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>